<<<<<<< HEAD
* {
    box-sizing: border-box;
  }

 
  .container {
    border-radius: 5px;
    background-color: red;
    padding: 10px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .column {
   display: inline-block;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .picture {
    height: 200px;
  }
  

  
  
  
=======
body {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.container {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
.contact_img {
    background-image: url(/images/contact_us.jpg);
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.contacts_content {
    display: flex;
    justify-content: space-around;
}












>>>>>>> eadf5a299a36e212af50424ca6fd96a1f0d22929
